h1{
color: coral;
}

html{
    background-color: rgb(253, 226, 152);
}

.qqq{
    height: 400px;
    width: 250px;
}

.hhh{
    height: 400px;
    width: 250px;
}

.iii{
    height: 400px;
    width: 250px;
}

.nnn{
    height: 400px;
    width: 250px;
}

img{
    border: 8px solid rgb(196, 132, 96);
}

